In [2]:
import pandas as pd
heart_disease =  pd.read_csv("heart-disease.csv")

In [3]:
heart_disease #import dataset - all numerical

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [10]:
X = heart_disease.drop("target",axis = 1) #assign feature matrix
y = heart_disease["target"] #assign label matrix

In [11]:
from sklearn.ensemble import RandomForestClassifier #a ml model
clf = RandomForestClassifier()

clf.get_params() #its parameters

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [12]:
from sklearn.model_selection import train_test_split #splitting the data

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [13]:
clf.fit(X_train,y_train) #initializing the model

RandomForestClassifier()

In [14]:
 X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
28,65,0,2,140,417,1,0,157,0,0.8,2,1,2
129,74,0,1,120,269,0,0,121,1,0.2,2,1,2
215,43,0,0,132,341,1,0,136,1,3.0,1,0,3
207,60,0,0,150,258,0,0,157,0,2.6,1,2,3
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,34,0,1,118,210,0,1,192,0,0.7,2,0,2
76,51,1,2,125,245,1,0,166,0,2.4,1,0,2
135,49,0,0,130,269,0,1,163,0,0.0,2,0,2
87,46,1,1,101,197,1,1,156,0,0.0,2,0,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3

In [16]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
289,55,0,0,128,205,0,2,130,1,2.0,1,1,3
277,57,1,1,124,261,0,1,141,0,0.3,2,0,3
281,52,1,0,128,204,1,1,156,1,1.0,1,0,0
177,64,1,2,140,335,0,1,158,0,0.0,2,0,2
190,51,0,0,130,305,0,1,142,1,1.2,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,45,0,0,138,236,0,0,152,1,0.2,1,0,2
42,45,1,0,104,208,0,0,148,1,3.0,1,0,2
269,56,1,0,130,283,1,0,103,1,1.6,0,0,3
203,68,1,2,180,274,1,0,150,1,1.6,1,0,3
81,45,1,1,128,308,0,0,170,0,0.0,2,0,2

In [20]:
y_preds = clf.predict(X_test)
y_preds

array([0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1], dtype=int64)

In [21]:
#evaluating the model
clf.score(X_train,y_train)

1.0

In [22]:
clf.score(X_test,y_test)

0.819672131147541

In [24]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.76      0.89      0.82        28
           1       0.89      0.76      0.82        33

    accuracy                           0.82        61
   macro avg       0.83      0.83      0.82        61
weighted avg       0.83      0.82      0.82        61

In [25]:
confusion_matrix(y_test, y_preds)

array([[25,  3],
       [ 8, 25]], dtype=int64)

In [26]:
accuracy_score(y_test, y_preds)

0.819672131147541

In [29]:
import numpy as np

In [33]:
#to improve this model, change n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"{i} estimators:")
    model = RandomForestClassifier(n_estimators=i).fit(X_train,y_train)
    print(f"Model Accuracy : {model.score(X_test,y_test)*100 :.2f} %")
    print("")

10 estimators:
Model Accuracy : 78.69 %

20 estimators:
Model Accuracy : 80.33 %

30 estimators:
Model Accuracy : 78.69 %

40 estimators:
Model Accuracy : 81.97 %

50 estimators:
Model Accuracy : 80.33 %

60 estimators:
Model Accuracy : 80.33 %

70 estimators:
Model Accuracy : 80.33 %

80 estimators:
Model Accuracy : 81.97 %

90 estimators:
Model Accuracy : 81.97 %

In [35]:
#save and import the model
import pickle
pickle.dump(clf,open("random_forest_model_1.pkl","wb"))

In [37]:
loaded_model = pickle.load(open("random_forest_model_1.pkl","rb"))
loaded_model.score(X_test,y_test)

0.819672131147541

In [38]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1